@media only screen and (max-width: 1080px) {
    #section_1 .main_slide_content{
        margin-left: 15px;
        margin-right: 15px;
    }

    .services_more_list_wrap{
        flex-direction: column;
    }

    .services_more_list_wrap .list_site_create{
        width: 100%;
    }

    #main_menu,#scroll_menu_wrap{
        display: none !important;
    }
    .mobile_menu{
        display: flex;
    }
}
@media only screen and (min-width: 1080px) {
    .mobile_menu_items{
        display: none !important;
    }
}